.pagenav{
	margin-top:2.7em;
	padding-bottom:.45em;
	text-align:center;
}
.pagenav a,
.pagenav span{
	color:#5a5e61;
	font-size:0.9em;
	font-weight:bold;
	display:inline-block;
	line-height:100%;
	margin:0 0 0 1px;
	min-height:16px;
	min-width:32px;
	padding:7px 0;
	position:relative;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	overflow:hidden;
	border:1px solid transparent;
	transition:all .3s ease-in-out;
}
.pagenav .current,
.pagenav a:hover{
	background-color:#f7f8f8;
	border-color:#c5c5c5;
	color:var(--theme_accent);
}
.pagenav .prev,
.pagenav .next{
	background-color:#fff;
	border-color:#c5c5c5;
}
.pagenav .prev:before,
.pagenav .next:before{
	content:'';
	display:inline-block;
	font-family:'themify_theme_icon';
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}
.pagenav .prev:before{
	content:'\e805'; /* ti-angle-left */
}
.pagenav .next:before{
	content:'\e801'; /* ti-angle-right */
}
