#site-logo{
	font-family:'Suranna', serif;
	float:left;
	font-size:2.6em;
	font-weight:400;
	line-height:1em;
	letter-spacing:-0.03em;
	margin:0.4em 0.55em 0.25em 0;
	padding:0;
	border:0;
}
#site-logo a{
	text-decoration:none;
}
.fixed-header-on .tf_sticky_logo ~ *,
body:not(.fixed-header-on) .tf_sticky_logo{
	display:none!important;
}